@media screen and (max-width:991px) {
    li.seperator {
        display: none;
    }

    nav.navbar.navbar-expand-lg.navbar-dark.bluebg.fixed-top {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:768px) {

    .top,
    .mid {
        padding: 0;
        /* width: 50%; */
    }

    button.navbar-toggler.hamburger {

        text-align: left;
    }

    img.desktop {
        display: none;
    }


    .mid p {
        font-size: .8em;
        font-weight: 600;

    }

    form {
        max-width: 100%;
    }

    .thirdP {
        display: none
    }

    form input.half {
        width: 100%;
        float: none
    }

    form input {
        /* max-width:66%; */
    }

    .mainText {
        /* padding: 30px; */
    }

    img .phone {
        display: none
    }

    .side.shown {
        display: none
    }

    .formGroup {
        min-width: 45px;
        display: inline-block;
        float: left;
    }

    .hidden {
        display: unset;
    }

    .hidden img {
        width: 100%;
        min-height:280px;
        max-height:360px;
        margin: auto;
        max-width: 200px;
        text-align: center;
        display: block;
    }

    .mainTitleText {
        display: none;
    }

    .row.mid {
        flex-direction: column-reverse;
    }

    .mobileTitleText {
        display: block;
    }

    .desktop {
        display: none;
    }

    .col-sm-12.col-md-9.mainText {
        margin:auto;
    }


    .mid p  {
        /* font-size: 1.6em; */
        /* font-weight: 600; */
        padding: 0;
    }

    .row.mid {
        padding: 2%;
    }

    .row.mobileFormText.hidden {
        text-align: center;
        display: block;
    }

    .formContainer h1 {
        display: none;
    }

    .col-md-6.col-4.hidden {
        padding: 0;
    }

.col-md-8 {
    /* -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%; */
    /* flex: 0 0 66.666667%; */
    max-width: 100%;
}
}