/********** Hide Skill Text  ************/
@media screen and (min-width:991px) {

    p.navSkill {
        display: none;
    }
}

/********* Show Skill Text , reverse rows, and hide seperators on viewport change***********/
@media screen and (max-width:991px) {
    li.seperator {
        display: none;
    }

    nav.navbar.navbar-expand-lg.navbar-dark.bluebg.fixed-top {
        flex-direction: row-reverse;
    }


    p.navSkill {
        display: block;
        position: fixed;
        left: 84px;
    }
}

/************* Mobile Styles **********/
@media screen and (max-width:768px) {

    /************** Rows ***********/
    .top,
    .mid {
        padding: 0;
    }

    .mid p {
        font-size: 1em;
        font-weight: 400;
        padding: 0;
    }

    .row.mid {
        flex-direction: column-reverse;
        padding: 2%;
    }

    .row.mobileFormText.hidden {
        text-align: center;
        display: block;
    }

    /*********** Hide Third paragraph on mobile *************/
    .thirdP {
        display: none
    }

    /*********** images **************/
    img.desktop {
        display: none;
    }

    .logo {
        max-width: 40px;
    }

    img .phone {
        display: none
    }

    .side.shown {
        display: none
    }

    .desktop {
        display: none;
    }

    /************* Form Style ************/
    form {
        max-width: 100%;
    }

    form input.half {
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }

    .formGroup {
        min-width: 45px;
        display: inline-block;
    }

    .formContainer h1 {
        display: none;
    }

    /************ hidden styles ***********/
    .hidden {
        display: unset;
    }

    .hidden img {
        width: 100%;
        min-height: 280px;
        max-height: 360px;
        margin: auto;
        max-width: 159px;
        text-align: center;
        display: block;
    }

    /************** Text Styles **********/
    .mainTitleText {
        display: none;
    }

    .mobileTitleText {
        display: block;
    }

    /********** Column Styles **********/
    .col-sm-12.col-md-9.mainText {
        margin: auto;
    }

    .col-md-6.col-4.hidden {
        padding: 0;
    }

    .col-md-8 {
        max-width: 100%;
    }

}

/************ Hide Skill Text on viewport change *********/
@media screen and (max-width:286px) {
    p.navSkill {
        display: none !important;
    }
}