/************  DEFAULTS  *****************/

html {
    font-family: "Helvetica" !important;
}

nav,
header,
footer {
    display: block;
}

body {
    margin: 0;
    color: white;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;

}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

* {
    box-sizing: border-box;
}

body.landingPage {
    background-color: #1496D3;
}

#FormAlert {
    color: #FFF;
    font-weight: 500;
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, .1);
}

.modal {
    color:black;
}

/**************  NAV BAR  ***********/
nav {
    background-color: #045487;
    color: white;
    border-bottom: 1px solid white;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

}

a.nav-link {
    line-height: 1;
    color: white !important;
}

.navbar-dark .navbar-toggler-icon {
    color: white;
    background-image: url(https://i.ya-webdesign.com/images/hamburger-menu-icon-png-white-12.png);
    background-size: 65px;
}

/**************** ROWS*****************/
.row.top {
    padding-top: 60px;
}

.top,
.mid {
    padding: 20px 3%;
}


.mid p {
    font-size: 1.2em;
    padding: 5px 5%;
    text-overflow: ellipsis;
    word-break: break-all;


}

.mid .mainText h1 {

    text-align: center;
    margin-bottom: 15px;

}

.mid img {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

/* Checkbox Alignment */
.row.checkBoxContainer {
    padding-top: 10px;
}

label#consentbox-error {
    text-align: center;
}

/*Form  validation */
.simple-form input {
    margin: 0 .25rem;
    min-width: 25px;
    border-radius: 8px;
    transition: border-color .5s ease-out;
}

/* Valid input style */

.simple-form input:required:valid {
    border-color: 2px solid green;
}

.simple-form input:required:valid {
    background: url("/dist/img/checkmark.png") no-repeat 95% 50%;
    background-size: 25px;
    background-color: white;
    border: 2px solid green;

}


/* Invalid input style */
.simple-form input:focus:invalid {
    background: url("/dist/img/error.png") no-repeat 95% 50%;
    background-size: 25px;
    background-color: white;
    border:2px solid red;
}