
// ******************** Toggle Display  ********************   // 
.hidden 
    display: none

.shown
    display: unset


/* ***************  Form Container  ******************** */

.formGroup 
    display: inline

.formBtn 
    min-width: 50px


.form 
    // margin: auto
    width: 400px
    text-align: center
    color: white
    margin: auto


.form input 
    // min-width: 300px
    margin: 10px 0
    border-radius: 5px
    width: 100%


.formGroup
    display: block
    // width: 70%

.formContainer
    width: 600px

.formBox
    margin: auto



// ******* Form Inputs **********


label
    font-size: 12px
    text-align: left

input.half
    width: 90%

.left 
    float: left

.right
    float: right

.checkBox
    border: solid 1px  black 

input.btn
    width: 115px
    padding: 1px 5px
    color: #FFF
    background-color: #6CB9E3

li.nav-item
    color: white

    
div.mainText 

    word-spacing: 6px
    
.upperCase
    font-size: 50px

img.desktop 
    display:block
    margin: auto
    width: 100%
    max-height: 650px



